body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:18px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.titulo{
    margin-top: 10px;
    text-align: center;
}


/*Estilos menu categorias*/
.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 100%;
}

.ca-menu li{
    width: inherit;
    height: 50px;
    overflow: hidden;
    display: block;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin-bottom: 4px;
    transition: all 3ms ease-in-out;
}

.ca-menu li:last-child{
    margin-bottom: 0px;
}

.ca-menu li a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    position: relative;
}

.ca-content{
    position: absolute;
    left: 50px;
    width: inherit;
    height: inherit;
}

.ca-main{
    font-size: 20px;
    transition: all linear;
}

.ca-menu li:active{
    border-color: #fff004;
    background: rgba(0, 0, 100, 1);
}

.ca-menu li:active .ca-main{
    color: #FFFFFF;
    font-size: 15px;
}

/*-----------------------------Estilos barra menu inferior*/
.ca-inferior{
    position: fixed;
    bottom: -20px;
    background: #fafafa;
    z-index: 1;
    width: 100%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.ca-inferior li{
    height: 50px;
    overflow: hidden;
    position: relative;
    float: left;
    border: 2px solid #fff;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin-right: 4px;
    transition: all 300ms linear;
}

.ca-inferior li:last-child{
    margin-right: 0px;
}

.ca-inferior li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    position: absolute;
    text-decoration: none;
}

.ca-icon{
    position: absolute;
    float: left;
    left: 0px;
    top: 10px;
    transition: all 200ms linear;
}

.ca-inferior-content{
    position: relative;
    width: auto;
    height: auto;
    top: 5px;
}

.ca-inferior-main{
    font-size: 15px;
    color: #000;
    opacity: 0.8;
    text-align: center;
    transition: all 200ms linear;
}

.ca-inferior li:hover{
    background: #fafafa;
}

.ca-inferior li:hover .ca-icon{
    color: #afa379;
    font-size: 20px;
    opacity: 0.1;
}

.ca-inferior li:hover .ca-inferior-main{
    color: #afa379;
}